{include  file="Common/header" /}
<body>

<!-- 页面加载loading -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <!-- 左树 -->
        <div class="layui-col-sm12 layui-col-md4 layui-col-lg3">
            <div class="layui-card">
                <div class="layui-card-body mini-bar" id="treeTbTree">
                </div>
            </div>
        </div>
        <!-- 右表 -->
        <div class="layui-col-sm12 layui-col-md8 layui-col-lg9">
            <div class="layui-card">
                <div class="layui-card-body" style="min-height: 535px;">

                    <div class="layui-form toolbar">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label w-auto">搜索：</label>
                                <div class="layui-input-inline mr0">
                                    <input name="keyword" class="layui-input" type="text" placeholder="输入关键字"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn icon-btn" lay-filter="formSubSearchTbLtrt" lay-submit>
                                    <i class="layui-icon">&#xe615;</i>搜索
                                </button>
                                <button class="layui-btn icon-btn">
                                    <i class="layui-icon">&#xe654;</i>新增
                                </button>
                                <button class="layui-btn layui-btn-danger icon-btn">
                                    <i class="layui-icon">&#xe640;</i>删除
                                </button>
                            </div>
                        </div>
                    </div>

                    <table class="layui-table" id="tableTbTree" lay-filter="tableTbTree"></table>

                </div>
            </div>
        </div>

    </div>
</div>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'zTree','tree'], function () {
        let tree = layui.tree;

    let data = [{
            title: '一级1'
            ,id: 1
            ,checked: true
            ,spread: true
            ,children: [{
                title: '二级1-1 可允许跳转'
                ,id: 3
                ,href: 'https://www.layui.com/'
                ,children: [{
                    title: '三级1-1-3'
                    ,id: 23
                    ,children: [{
                        title: '四级1-1-3-1'
                        ,id: 24
                        ,children: [{
                            title: '五级1-1-3-1-1'
                            ,id: 30
                        },{
                            title: '五级1-1-3-1-2'
                            ,id: 31
                        }]
                    }]
                },{
                    title: '三级1-1-1'
                    ,id: 7
                    ,children: [{
                        title: '四级1-1-1-1 可允许跳转'
                        ,id: 15
                        ,href: 'https://www.layui.com/doc/'
                    }]
                },{
                    title: '三级1-1-2'
                    ,id: 8
                    ,children: [{
                        title: '四级1-1-2-1'
                        ,id: 32
                    }]
                }]
            },{
                title: '二级1-2'
                ,id: 4
                ,spread: true
                ,children: [{
                    title: '三级1-2-1'
                    ,id: 9
                    ,disabled: true
                },{
                    title: '三级1-2-2'
                    ,id: 10
                }]
            },{
                title: '二级1-3'
                ,id: 20
                ,children: [{
                    title: '三级1-3-1'
                    ,id: 21
                },{
                    title: '三级1-3-2'
                    ,id: 22
                }]
            }]
        },{
            title: '一级2'
            ,id: 2
            ,spread: true
            ,children: [{
                title: '二级2-1'
                ,id: 5
                ,spread: true
                ,children: [{
                    title: '三级2-1-1'
                    ,id: 11
                },{
                    title: '三级2-1-2'
                    ,id: 12
                }]
            },{
                title: '二级2-2'
                ,id: 6
                ,children: [{
                    title: '三级2-2-1'
                    ,id: 13
                },{
                    title: '三级2-2-2'
                    ,id: 14
                    ,disabled: true
                }]
            }]
        },{
            title: '一级3'
            ,id: 16
            ,children: [{
                title: '二级3-1'
                ,id: 17
                ,fixed: true
                ,children: [{
                    title: '三级3-1-1'
                    ,id: 18
                },{
                    title: '三级3-1-2'
                    ,id: 19
                }]
            },{
                title: '二级3-2'
                ,id: 27
                ,children: [{
                    title: '三级3-2-1'
                    ,id: 28
                },{
                    title: '三级3-2-2'
                    ,id: 29
                }]
            }]
        }]
        tree.render({
            elem: '#treeTbTree'
            ,data: data
            ,showCheckbox: false  //是否显示复选框
            ,id: 'demoId1'
            ,isJump: true //是否允许点击节点时弹出新窗口跳转
            ,showLine:false
            ,edit:['add', 'update', 'del']  //是否开启节点的操作图标。默认 false。
            ,click: function(obj){
                var data = obj.data;  //获取当前点击的节点数据
                layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
            }
        });

    });
</script>

</body>
</html>